<div>
  <a routerLink="/search">bibliS3arch by XXL</a>
</div> 

<ngx-spinner
  color = "rgb(38, 99, 170)"
  type = "ball-fussion">Loading...
</ngx-spinner>
<!-- Search form -->

<div class="form form-inline md-form form-sm"  >
  <input #searchbar class="form-control form-control-sm mr-3 w-75" 
    (keyup.enter)="filter(searchbar.value)"
    type="text" placeholder="Search book" aria-label="Search"
    mdbInput>
  <mdb-icon  fas icon="search" aria-hidden="true" 
             class="clickable-icon" (click)="filter(searchbar.value)">
  </mdb-icon>  
</div>

<span class="checkboxes">
  <mat-checkbox [(ngModel)]="isSearchByTitle">by title</mat-checkbox>
  <mat-checkbox [(ngModel)]="isSearchByAuthor">by author</mat-checkbox>
  <mat-checkbox [(ngModel)]="isSearchByReleaseDate">by release date</mat-checkbox>
  <mat-checkbox [(ngModel)]="isSearchByPostingDate">by posting date</mat-checkbox>
  <mat-checkbox [(ngModel)]="isSearchByLanguage">by language</mat-checkbox>
  <!--
  <mat-checkbox [(ngModel)]="isSearchInCurrentBooks">in current books</mat-checkbox>
  -->
</span>

<div class="book_list">
  <ul>
    <li *ngFor="let book of books">

      <a [ngStyle]="{'font-style':'italic', 'color':'rgb(38, 99, 170)'}"
      (click)="fetchBook(book)"
     routerLink="/book-content"  
        >
        {{ book.title }}
    </a>, by {{ book.author }}
    
    </li>
  </ul>
 
</div>

<a class="logo" href="http://www.sorbonne-universite.fr/">
    <img src="../../assets/images/background.png" alt="sorbonne-logo" />
</a>