<p>bibliS3arch by XXL</p>

<!--
<div class="form">
  <input #form_book_title (keyup.enter)="searchBook()">
</div>
-->


<!-- Search form -->
<form class="form form-inline md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-75" 
    (keyup.enter)="searchBook" 
    type="text" placeholder="Search book" aria-label="Search"
    mdbInput>
  <mdb-icon  fas icon="search" aria-hidden="true" class="clickable-icon"></mdb-icon>
</form>

<div class="book_list">
  <ul>
    <li *ngFor="let book of books">
      <a [ngStyle]="{'font-style':'italic'}" href="../../../assets/database/{{ book.nameFile }}">{{ book.title }}</a>, by {{ book.author }}
    </li>
  </ul>

</div>

<div class="logo">
    <img src="../../assets/images/background.png" alt="sorbonne-logo" />
</div>
