<div>
  <a routerLink="search">bibliS3arch by XXL</a>
</div> 


<!-- Search form -->

<div class="form form-inline md-form form-sm"  >
  <input #searchbar class="form-control form-control-sm mr-3 w-75" 
    (keyup.enter)="filter(searchbar.value)"
    type="text" placeholder="Search book" aria-label="Search"
    mdbInput>
  <mdb-icon  fas icon="search" aria-hidden="true" 
             class="clickable-icon" (click)="filter(searchbar.value)">
  </mdb-icon>
  
</div>

<div class="book_list">
  <ul>
    <li *ngFor="let book of books">


      <a [ngStyle]="{'font-style':'italic', 'color':'blue'}"
      (click)="fetchBook(book)"
     routerLink="/book-content"
  
        >
        {{ book.title }}
    </a>, by {{ book.author }}
    
    </li>
  </ul>
 
</div>

<div class="logo">
    <img src="../../assets/images/background.png" alt="sorbonne-logo" />
</div>